---
layout: archive
title: "Projects"
permalink: /Projects/
author_profile: true
---

| Period | Project Title| Advisor| Position | Funding |
| :--- | :---- | :---- | :---- |
| 05/2020-07/2022 | NC Transportation Center of Excellence in Connected and Autonomous Vehicle Technology (NC-CAV) | Wei Fan | Research Assistant |NCDOT |

This page is still under developing,
please neglect the following content
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

