---
layout: archive
title: "Projects"
permalink: /Projects/
author_profile: true
---


<table border="1">
    <tr>
        <th>Period</th>
        <th>Project Title</th>
        <th>Advisor</th>
        <th>Position </th>
        <th>Funding </th>
        <th>Remarks </th>
    </tr>
    <tr>
        <td>05/2020-07/2022</td>
        <td>NC Transportation Center of Excellence in Connected and Autonomous Vehicle Technology (NC-CAV)</td>
        <td>Wei Fan </td>
        <td>Research Assistant</td>
        <td>NCDOT </td>
        <td>[Spotlight](https://online.fliphtml5.com/jkjxu/hgpn/?1615675920316#p=14)</td>
    </tr>
      <tr>
        <td>row 2, cell 1</td>
        <td>row 2, cell 2</td>
        <td>row 2, cell 2</td>
        <td>row 2, cell 2</td>
        <td>row 2, cell 2</td>
        <td>row 2, cell 2</td>
    </tr>
</table>
<!--
This page is still under developing,
please neglect the following content
{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

-->
